section {
  padding-top: .5em;
}

h1 {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #a1e3e4;
  font-size: 2.5em;
  margin-left: 1em;
}

.final-caption {
  color: #808284;
  margin-left: 0;
}

.history-p {
  color: #555;
  font-weight: bold;
}

.title-dash {
  display: inline;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #808284;
  font-size: 1em;
  font-weight: normal;
  padding-top: 1.2em;
}

.process {
  display: inline;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #808284;
  font-size: .8em;
  font-weight: normal;
}

.process-pic {
  display: inline-block;
  max-width: 49%;
  height: auto;
}

.final-pic {
  max-width: 100%;
  height: auto;
}

.process-p {
  display: inline-block;
  vertical-align: top;
  line-height: 1.8em;
  max-width: 42%;
  height: auto;
  color: #808284;
}

.final-p {
  display: inline;
  color: #808284;
  margin-bottom: 2em;
}

li {
  display: inline;
  padding: .8em;

}

#section-1 {
  background: transparent url("../pics/floral-paper.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

section {
  padding: .5em;
}

.final-pic {
  width: 50%;
  height: auto;
}

.final-pic {
  width: 100%;
  height: auto;
}

@media (min-width: 48em) {

#section-3 {
  display: inline-block;
}

h2 {
  font-size: 2em;
}


.sketches {
  display: inline;
  width: 25em;
  height: auto;
  padding: 1em;
}

.process-pic {
  display: inline;
  width: 27%;
  height: auto;
  padding: 1em;
}

.process-p {
  font-size: 1.4em;
  margin-left: 1em;
  width: 65%;
}

.shiny-paper {
  display: inline;
  width: 49%;
  float: left;
  padding-right: 2em;
}

.shiny-paper-p {
  font-size: 1.4em;
display: inline;
  width: 49%;
  line-height: 1.8em;
}

.final-pic {
  width: 70%;
  height: auto;
  padding-top: 1em;
}

.final-p {
  font-size: 1.4em;
}

.final-caption {
  font-size: 1.4em;
}

.sketches-p {
  font-size: 1.4em;
  margin-left: .5em;
  color: #808284;
  line-height: 1.8em;
  width: 65%;
}

}

.shiny-paper-p {
  color: #808284;
  line-height: 1.8em;
}

.sketches-p {
  color: #808284;
  line-height: 1.8em;
}

a {
  color: #808284;
  text-decoration: none;
  font-family: "Arial", "Helvetica", sans-serif;
  padding-bottom: 1em;
  transition: border-bottom .8s ease;
  transition: color .3s ease;
}

a:focus,
a:hover {
  color: #a1e3e4;
  padding-bottom: .1em;
  border-bottom: .1em solid #a1e3e4;
}

img {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.shiny-paper {
  max-width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

.floral-paper {
  max-width: 100%;;
  height: auto;
  margin: 0;
}

.sketches {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

p {
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.4em;
  margin-left: 2em;
}

body {
  margin: 0 auto;
  max-width: 60em;
}

h2 {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #a1e3e4;
  margin-top: 2em;
  margin-left: 1em;
}
